body {
    background-color: #282c34;
    position: fixed;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  h1 {
    font-size : 200px;
}
.GameWindow {
    order:1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
    padding: 20px;
    border-radius: 5%;
    border: 5px solid yellow;
}


.LoginScreen button {
    margin: 20px;
}



