body, #root {
    height: 100%;
    width: 100%;
}

body {
    background-color: #181a1f;
    position: fixed;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .start-btn,
  .start-btn-red,
  .start-btn-grey,
  .start-btn-green,
  .start-btn-blue,
  .start-btn-black,
  .start-btn-profile,
  .start-btn-windows,
  .gameWindow{
      display: inline-block;
      margin:5px;
      font-weight: bold;
      padding: 10px 0 10px 5px ;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px;
      cursor: pointer;
  }
  .start-btn,
  .start-btn-red,
  .start-btn-grey,
  .start-btn-green,
  .start-btn-blue,
  .start-btn-black,
  .start-btn-profile
  .gameWindow {
    text-shadow: -1px -1px black, 1px 1px white;
  }
  .ff {
    font-family: 'Press Start 2p';
    color:lightgrey;
    text-shadow: -1px -1px black, 1px 1px white;
  }
  .ff-5 {
    font-family: 'Press Start 2p';
    font-size: 5pt;
  }
  .ff-10 {
    font-family: 'Press Start 2p';
    font-size: 10pt;
  }
  .ff-15 {
    font-family: 'Press Start 2p';
    font-size: 15pt;
}

.ff-20 {
    font-family: 'Press Start 2p';
    font-size: 20pt;
  }
.ff-header {
    font-family: 'Press Start 2p';
    font-size: 3em;
}
.ff-title {
    font-family: 'Press Start 2p';
    font-size: 2em;
}
  .height-75 {
    height:75px;
  }
  .width-75 {
    width:75px;
  }
  .width-100 {
    width:100px;
}
  .width-150{
    width:150px;
  }
  .width-250 {
      width:250px;
  }
  .width-350{
    width:350px;
  }
  .start-btn {
      display: inline-block;
  }

  .start-btn-windows {
    padding:5px;
    color: white;
    background-color: #52565c;
    box-shadow: 0 .5em #393c40 ; 
  }

  .start-btn-profile {
    box-shadow: 0 .5em #08080a; 
  }

  .start-btn-red{
    font-family: 'Press Start 2p';
    background-color: #ff6e63;
    color: red;
    box-shadow: 0 .5em red; 
  }
  .start-btn-black {
    font-family: 'Press Start 2p';
    background-color: darkgrey;
    color: darkslategrey;
    box-shadow: 0 .3em darkslategrey; 
  }
  .start-btn-grey {
    font-family: 'Press Start 2p';
    background-color: lightgrey;
    color: grey;
    box-shadow: 0 .5em grey; 
  }
  .start-btn-green {
    font-family: 'Press Start 2p';
    background-color: lightgreen;
    color: green;
    box-shadow: 0 .2em green;  
  }

  .btn-winner {
    font-family: 'Press Start 2p';
    background-color: #ffcf40;
    color: rgba(0, 0, 0, 0.541);
    box-shadow: 0 .5em rgba(0, 0, 0, 0.432);
    margin: 0 auto;
    padding: 5px;
  }

  .btn-loser {
    font-family: 'Press Start 2p';
    background-color: rgb(255, 88, 88);
    color: rgba(0, 0, 0, 0.541);
    box-shadow: 0 .5em rgba(0, 0, 0, 0.432);
    margin: 0 auto;
    padding: 5px;      
  }
  
  .start-btn-blue {
    font-family: 'Press Start 2p';
    background-color: lightblue;
    color: lightseagreen;
    box-shadow: 0 .5em lightseagreen;  
  }
  .roomActions .start-btn-green, .menuScreen .start-btn-green {
    font-family: 'Press Start 2p';
    box-shadow: 0 .5em green;  
  }

  .video-game-button:active, 
  .start-btn-red:active, 
  .start-btn-grey:active, 
  .start-btn-blue:active, 
  .start-btn-green:active, 
  .start-btn-profile:active, 
  .start-btn-black:active {
      box-shadow: none;
      position: relative;
      top: .6em;
  }

  .buttonColumn {
      width:50px;
  }
.fade-out-15 {
    animation: fadeOut ease 13s;
    -webkit-animation: fadeOut ease 13s;
    -moz-animation: fadeOut ease 13s;
    -o-animation: fadeOut ease 13s;
    -ms-animation: fadeOut ease 13s;
}
.fade-out-3 {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
}

.fade-in-2 {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.PlayerText {
    height: 250px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    margin: 50px 0px 0px 0px;
}
h1 {
    font-size: 50px;
    margin: 10px 0 0 0;
}

div {
    margin: 0;
}

.gameAction {
    display: flex;
    flex-direction: column;
}

.horizontalFlex {
    display:flex;
    flex-direction: row;
}
.alivePlayers {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border: 2px solid #52565c;
    display:flex;
    justify-self: flex-end;
    position: relative;
    width: 50px;
    height: 300px;
}

.aliveList {
    padding: 10px 0 0 0;
    list-style-type: none;
}

.aliveList li {
    padding: 10px;
}

.aliveList li img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.GameWindow {
    overflow: hidden;
    background-color: #282c34 ;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 750px;
    width: 1000px;
    padding: 0;
    border-radius: 5%;
    /* background-color: #686b70;
    color: white; */
    box-shadow: 0 2em #08080a; 
    /* border: 5px solid #52565c; */
}

.GameWindow .title {
    height: 10%;
    justify-content: start;
    order: 1;
    width: 100%;
}

.gameWindow div {
    position: relative;
    width: 100%;
}

.gameWindow .Container {
    position: relative;
    display: flex;
    margin: 10px;
    flex: 1;
    align-items: center;
    height: 20%;
    width: 100%;
}

.GameWindow .header {
    position: relative;
    display: flex;
    margin: 10px;
    flex: 1;
    align-items: center;
    height: 20%;
    border-bottom: 3px solid #e5c100;
}

table {
    width: 100%;
}
tr, td {
    /* border: 2pt solid darkgray; */
    border-bottom:2pt solid darkgray;
}

.smallColumn {
    width:10%;
}

.mediumColumn {
    width:25%;
}

.largeColumn {
    width:65%;
}

.header button,
.header img {
    margin: 0;
    padding:0;
    width: 100px;
    height: 75px;
    border-radius: 5px;
}

.backButton {
    order: 1;
    flex: 1;
}

.logo {
    font-family: 'Press Start 2p';
    order: 2;
    flex: 2;
    display:flex;
    flex-direction: column;
}

.profile {
    order: 3;
    flex: 1;
}

.GameWindow .break {
    flex-basis: 100%;
    height: 0;
}

.GameWindow .ContentScreen {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 100px 0;
}

.lobbySelection,
.createLobby {
    position: relative;
    height: 75%;
    margin: 3%;
}

.GameWindow .lobbySelection {
    order: 1;
    flex: 3;
    /* border: 5px solid blue; */
    padding: 5px;
    height: 80%;
    overflow: auto;
}

tr .btn-success {
    height: 80%;
    width: 100%;
}

.createLobby,
.createLobbyText,
.roomActions,
.chatRoom,
.online {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.instructions::-webkit-scrollbar {
    display: none;
  }
.instructions h2, .instructions h5 {
    font-family: 'Press Start 2p';
}
.instructions {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions img {
    width:400px;
    height:400px;
}
.mapImg {
    width:150px;
    height:150px;
}
.roomActions,
.chat {
    height: 95%;
}

.inputBox input {
    border-radius: 0;
    width: 65%;
}

.inputBox button {
    border-radius: 0;
    width: 10%;
}

.input-group {
    margin: 0px;
}

.chat {
    text-align: left;
    overflow-y: auto;
    word-break: break-word;
}

.chatRoom {
    /* border: 5px solid navajowhite; */
    height: 100%;
}


#messages {
    margin: 5%;
}

.chatRoom,
.online {
    margin: 2%;
    height: 100%;
}

.online {
    justify-content: flex-start;
    /* border: 5px solid goldenrod; */
}

.online ul {
    margin-top: 20px;
    padding-inline-start: 0;
    font-size: 25px;
}

.online li {
    padding-bottom: 10px;
}

.createLobbyText {
    margin: 0 0 0 50px;
}

.createLobbyForm .form-control, .createLobbyForm select {
    margin-top: 2px;
    margin-bottom: 10px;
}

.createLobbyForm {
    display: flex;
    order: 3;
    flex: 2;
}

.createLobbyContainer0 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages {
    padding: 0;
}

.createLobbyContainer {
    order: 2;
    flex: 1;
}

select,
.createLobbyForm input {
    margin: 5px;
}

.createLobbyForm {
    margin: 20px;
    align-items: center;
    position: relative;
    height: 75%;
}

.createLobbyText h2 {
    font-family: 'Press Start 2p';
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: right;
}

.profileLabels h2 {
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: 'Press Start 2p';
    font-size: 25px;
}

.profileLabels {
    padding: 20px;

    text-align: right;
    order: 1;
    flex: 1;
}

.profileResults .form-control {
    margin-top: 1px;
    margin-bottom: 10px;
}

.profileResults {

    order: 2;
    flex: 2;
}

.darkness {
    position: absolute;
    width: 1024px;
    height: 620px;
    background-color: black;
}

.profileResults input:read-only {
    background-color: #babbbe;
}

.profileResults input:read-only::-webkit-input-placeholder {
    color: #5e5f61;
}

.profileData input {
    width: 40%;
    margin: 1%;
    margin-right:20%;
}

.profilePair {
    display:flex;
    flex-direction: row;
    width:850px;
    justify-content: flex-end;
    align-items: center;
}

.usernameSelection button, .createLobbyContainer button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 100px
}

.roomActions {
    justify-content: space-between;
    align-items: center;
}

.roomActions button {
    width: 100%;
    height: 20%;
}
.createLobby a {
    text-decoration: none;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.createLobby button {
    margin: 20px;
    width: 80%;
}

.menuScreen {
    display: flex;
    flex-direction: column;
}

.menuScreen span {
    margin-bottom: 20px;
    /*width: 125px;
    height: 125px;
    border-radius: 50%; */
}

input {
    text-align: center;
}

.errorMsg {
    font-size: 15px;
    color: #ff0000;
}
.profileData {
    display:flex;
    flex-direction: column;
    width:850px;
    height: 250px;
}

@media only screen and (max-width: 800px) {
    .GameWindow {
        width:90%;
        height:90%;
        margin:20px;
    }
    .profile, .start-btn-profile, .backButton, .header img,.width-100 {
        width:75px;
        height:75px;
    }
    .start-btn-grey {
        padding:0px;
        padding-top: 15px;
        margin: 0px;
    }
    a {
        width:50%;
    }
    .width-350 {
        width:250px;
    }
    .ff-15 {
        font-size: small;
    }
    .ff-20 {
        font-size: large;
    }
    .ff-header {
        font-size: Large;
    }
    .ff-title {
        font-size: small;
    }
    .profileLabels h2, .instructions h2 {
        font-size: 25px;
    }
    .profilePair {
        flex-direction: column;
        align-items: center;
    }
    .profilePair input {
        margin:1%;
    }

    .playButton {
        visibility:hidden;
        width: 0px;
        height: 0px;
    }
    .instructions img {
        width:250px;
        height:250px;
    }

}
